---
// import { ViewTransitions } from "astro:transitions";
import Seo from "@components/Seo.astro";
import Header from "@components/Header.astro";
import type { PageSeo } from "@/types";
import "@styles/index.css";

interface Props {
  seo: PageSeo;
  grid?: boolean;
}

const { seo, grid } = Astro.props;
---

<html lang="en" class="" transition:animate="none">
  <head>
    <meta charset="utf-8" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <!-- <ViewTransitions /> -->

    <Seo {...seo} />
  </head>

  <body>
    <Header
      title="Home"
      links={[
        { url: "/projects/example-1", label: "Example 1" },
        { url: "/projects/example-2", label: "Example 2" },
      ]}
    />

    <main class:list={[grid && "grid-main"]}>
      <slot />
    </main>
  </body>
</html>
