---
import { ViewTransitions } from "astro:transitions";
import Seo from "@components/Seo.astro";
import type { PageSeo } from "../types";
import "@styles/index.css";

interface Props {
  seo: PageSeo;
}

const { seo } = Astro.props;
---

<html lang="en" class="" transition:animate="none">
  <head>
    <meta charset="utf-8" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <ViewTransitions />

    <Seo {...seo} />
  </head>

  <body class="">
    <main class="">
      <slot />
    </main>
  </body>
</html>
