---
export const prerender = false;

import Layout from "@layouts/Layout.astro";
import Sections from "@components/Sections.astro";

import { pageQuery } from "@utils/queires";
import { getPageSeo } from "@utils/helpers";

import { fetchPage } from "@utils/load-query";
import type { PageData } from "@/types";
import type { QueryParams } from "sanity";

const params = Astro.params as QueryParams;

const { data: page } = await fetchPage<PageData>({
  query: pageQuery,
  params,
});

if (!page) return Astro.redirect("/404");

const pageSeo = getPageSeo(page);
---

<Layout seo={pageSeo}>
  <h1 class="text-h1">{page.title}</h1>

  <Sections sections={page.sections} />
</Layout>
