---
import { sanityClient } from "sanity:client";

import Layout from "@layouts/Layout.astro";

import { homePageQuery } from "@utils/queires";
import { getPageSeo } from "@utils/helpers";

import type { HomePageData } from "../types";

const data: HomePageData = await sanityClient.fetch(homePageQuery);
const pageSeo = getPageSeo(data);
---

<Layout seo={pageSeo}>
  <h1>Sane Sveltro Tinderbox</h1>
</Layout>
