---
import Layout from "@layouts/Layout.astro";
import Media from "@components/Media.astro";
import Sections from "@components/Sections.astro";

import { projectBySlugQuery } from "@utils/queires";
import { getPageSeo } from "@utils/helpers";
import { loadQuery } from "@utils/loader-query";

import type { Project } from "../../types";

const params = Astro.params;

const { data: project }: { data: Project } = await loadQuery({
  query: projectBySlugQuery,
  params: { slug: params.slug },
});

const pageSeo = getPageSeo(project);
---

<Layout seo={pageSeo}>
  <h1 class="text-h1">{project.title}</h1>

  {project.gallery.map((media) => <Media media={media} />)}

  <Sections sections={project.sections} />
</Layout>
