---
export const prerender = false;

import Layout from "@layouts/Layout.astro";
import Media from "@components/Media.svelte";
import Sections from "@components/Sections.astro";

import { projectQuery } from "@utils/queires";
import { getPageSeo } from "@utils/helpers";

import { fetchPage } from "@utils/load-query";
import type { ProjectData } from "@/types";
import type { QueryParams } from "sanity";

const params = Astro.params as QueryParams;

const { data: project } = await fetchPage<ProjectData>({
  query: projectQuery,
  params,
});

if (!project) return Astro.redirect("/404");

const pageSeo = getPageSeo(project);
---

<Layout seo={pageSeo}>
  <h1 class="text-h1">{project.title}</h1>

  {project.gallery.map((media) => <Media client:load media={media} />)}

  <Sections sections={project.sections} />
</Layout>
