---
import Layout from "@layouts/Layout.astro";
import Media from "@components/Media.svelte";
import Sections from "@components/Sections.astro";

import { projectsQuery, projectQuery } from "@utils/queires";
import { getPageSeo } from "@utils/helpers";

import { fetchQuery, fetchPage } from "@utils/load-query";
import type { ProjectsData, ProjectData } from "@/types";

/**
 * @name getStaticPaths
 * @function
 * @description Fetches all projects from Sanity and generates static path params for each project slug.
 * @returns {Promise<{ params: { slug: string } }[]>} An array of static path parameter objects.
 */
export const getStaticPaths = async () => {
  const { data: projects } = await fetchQuery<ProjectsData>({
    query: projectsQuery,
  });

  return projects.map((project) => {
    return {
      params: {
        slug: project.slug.current,
      },
    };
  });
};

const { params } = Astro;

const { data: project } = await fetchPage<ProjectData>({
  query: projectQuery,
  params,
});

const pageSeo = getPageSeo(project);
---

<Layout seo={pageSeo}>
  <h1 class="text-h1">{project.title}</h1>

  {project.gallery.map((media) => <Media client:load media={media} />)}

  <Sections sections={project.sections} />
</Layout>
