---
import Link from "@components/Link.svelte";
import type { Links } from "@/types";

interface Props {
  links: Links;
}

const { links } = Astro.props;
---

<header
  class="flex items-center justify-between p-4 sm-t:p-6"
  transition:persist="site-header"
>
  <a href="/">Home</a>

  <nav class="flex gap-x-2 sm-t:gap-x-4">
    {links.map((link) => <Link link={link} />)}
  </nav>
</header>
