---
import CartCount from "@components/CartCount.svelte";
import Link from "@components/Link.svelte";
import type { Links } from "@/types";

interface Props {
  links: Links;
}

const { links } = Astro.props;
---

<header
  class="flex items-center justify-between p-pm sm-t:p-pd"
  transition:persist="site-header"
>
  <a href="/">Home</a>

  <nav class="flex gap-x-gm sm-t:gap-x-gd">
    {links.map((link) => <Link link={link} />)}

    <CartCount client:load />
  </nav>
</header>
