---
import Layout from "@layouts/Layout.astro";

import { homePageQuery } from "@lib/queires";
import { getPageSeo } from "@lib/helpers";
import { processNestedImages } from "@lib/image";

import { loadQuery } from "@sanity/lib/load-query";
import type { HomePageData } from "@/types";

const { data: rawPage } = await loadQuery<HomePageData>({
  query: homePageQuery,
});

const page = await processNestedImages(rawPage);

const pageSeo = getPageSeo(page);
---

<Layout seo={pageSeo} grid>
  <h1 class="col-span-full">
    Welcome to Sane Svelstro Tinderbox {page.title} 🔥
  </h1>
</Layout>
