---
import { PortableText } from "astro-portabletext";

import Normal from "@components/rich-text/Normal.astro";
import Link from "@components/rich-text/Link.astro";

const { class: className, value } = Astro.props;

const components = {
  //   type: {
  //     /* custom types go here */
  //   },
  block: {
    normal: Normal,
  },
  //   list: {
  //     bullet: /* <ul {...attrs}><slot /></ul> */,
  //     number: /* <ol {...attrs}><slot /></ol> */,
  //     menu: /* <menu {...attrs}><slot /></menu> */,
  //   },
  //   listItem: {
  //     bullet: /* <li {...attrs}><slot /></li> */,
  //     number: /* <li {...attrs}><slot /></li> */,
  //     menu: /* <li {...attrs}><slot /></li> */,
  //   },
  mark: {
    //     code: /* <code {...attrs}><slot /></code> */,
    //     em: /* <em {...attrs}><slot /></em> */,
    link: Link,
    //     'strike-through': /* <del {...attrs}><slot /></del> */,
    //     strong: /* <strong {...attrs}><slot /></strong> */,
    //     underline: /* <span {...attrs} style="text-decoration: underline;"><slot /></span> */
  },
  //   hardBreak: /* <br /> */,
};
---

<div class="space-y-6" class:list={className}>
  <PortableText value={value} components={components} />
</div>
